Source: ros-melodic-cmake-modules
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-cmake-modules
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: A common repository for CMake Modules which are not distributed with CMake but are commonly used by ROS packages.
